language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"

cache:
  directories:
    - $HOME/.cache/pip

install:
  - pip install --upgrade pip
  - pip install coverage coveralls[yaml] pytest pytest-runner pytest-travis-fold pytest-instafail

script:
  coverage run --source=injectemoji setup.py test

after_success:
  - coveralls --verbose
